.venv/
.venv310/
venv310/

Comprehensive-Health-Diagnostics/
Comprehensive-Health-Diagnostics/Lib/
Comprehensive-Health-Diagnostics/Scripts/
Comprehensive-Health-Diagnostics/__pycache__/

Lib/
site-packages/
__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/
.idea/
.streamlit/venv/
